.side-drawer {
  position: fixed;
  height: 100%;
  background: #fff;
  top: 0;
  right: 0;
  width: 40%;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  padding: 20px;
}

.side-drawer.open {
  transform: translateX(0);
}

.product-cart {
  display: flex;
  align-items: center;
}

.product-cart img {
  margin-right: 20px;
}

.product-cart-price {
  display: block;
  text-align: left;
  font-weight: 400;
}
